.content{
    justify-content: center;
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 20px;
    height: 80vh;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular */
    
}
/* .checkmarked-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.title {
    font-weight: 700;
    font-size: 52px; /* Regular */
}
#middle{
    margin-top: -15px;
    margin-bottom: -15px;
}
.check-p{
    display: flex;
    flex-direction: row;
}
.checkmark{
    margin-top: 12px;
    margin-right: 18px;
}
.button2{
    width: 100%;
}
.inner-text{
    margin: 50px;
}
.content2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    height: 40vh;
    border-radius: 15px;
    
}
.outer-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 85);
    height: 60vh;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px
}
.outer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 23, 46);
    height: 100vh;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    margin: 0;
}
.form-title{
    font-size: 13px;
    font-weight: 70px;
    margin-top: 5%;
}

.left-side{
   
    margin-left: 8%;
    margin-right: 5%;
    margin-top: -5%;
    width: 60vh;
}
.right-side{
    height: 90%;
    margin-bottom: .5vh;
    margin-right: 2vh;
}
#myForm{
    display: flex;
    flex-direction: column;
}
.email{
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    border: .01px solid #aba7a7;
    margin-right: 40px;
}
button{
    height: 55px;
    background-color: rgb(36, 39, 66);
    border-radius: 10px;
    color: white;
    margin-right: 40px;
}
input::placeholder {
    padding-left: 32px; /* Adjust the value to move the placeholder to the right */
}
/* .checked::before {
    content: "\2713"; 
    display: inline-block;
    margin-right: 5px; 
    color: white; 
    font-size: 10px; 
    border: 2px solid rgb(241, 113, 44); 
    border-radius: 50%; 
    padding: 1px; 
    background-color: rgb(241, 113, 44); 
} */

.inner-text::before {
    content: "\2713"; 
    display: inline-block;
    margin-right: 5px; 
    color: white; 
    font-size: 30px; 
    border: 2px solid rgb(241, 113, 44); 
    border-radius: 50%; 
    padding: 15px; 
    background-color: rgb(241, 113, 44); 
}


@media (max-width: 376px) {
    .right-side svg {
        display: none; /* Hide the SVG when the screen is small */
      }
    
      /* Add your custom content here */
      .right-side::before {
        content: "";
        /* Add styles for your custom content like font-size, color, etc. */
      }

}
  


